body {
	background-color: #FA5882;
	font-family: roboto;

}

.div1 {
	text-align: center;
	margin-top: 110px;
}

#id1{
	font-size: 18px;
	padding: 1PX;
}

#idd {
	font-size: 30px;
	padding: 10px;
}

[type="button"] {
	color: white;
	background-color: #b70f3b;
	border-style: none;
	font-size: 20px;
	width: 110px;
	font-family: Roboto;
}

[type="text"] {
	border-radius: 5px;
	padding: 5px;
	border-style: none;
	font-size: 20px;
}

[type="button"]:hover{
	font-size: 23px;
	width: 120px;
	height: 30px;
	box-shadow: 0 0 10px #ffdfe7, 0 0 10px #ffdfe7, 0 0 10px #ffdfe7, 0 0 10px #ffdfe7 ;
}

#calculo{
	margin-top: 30px;
}